venv
db.sqlite3
.vscode
GFG.pdf
invoic.pdf
invoice2.pdf
invoice6.pdf
loanx.pdf
templat.pdf
template.pdf
borrowers/__pycache__/views.cpython-38.pyc
borrowers/__pycache__/views.cpython-38.pyc
loan_management_system/__pycache__/urls.cpython-38.pyc
loans/__pycache__/admin.cpython-38.pyc
media/attachments/download_1_UjfKr0K.jpeg
media/attachments/download_1_vkEgavh.jpeg
media/repayments/Screenshot_2020-02-04_at_17.08.41.png
media/repayments/Screenshot_2020-02-26_at_12.42.21.png
media/attachments/download_1.jpeg
